body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: grid;
  grid-template-columns: [col1-start] 25% [col2-start] 25% [col3-end] 5%;
  justify-content: space-around;
  background-color: black;
  height: 7rem;
  margin: 0;
  padding: 0;
  width: 100;
}

.title {
  font-size: 3rem;
  color: #d62727;
  display: grid;
  justify-items: start;
  padding: 10px;
  justify-content: center;
  align-content: center;
  white-space: nowrap;
  transition: color 1s ease-out 100ms;
  transition: transform 250ms;
}

.title:hover {
  cursor: pointer;
  color: white;
  transform: translateY(-10px);
}

.links {
  color: #d62727;
  display: grid;
  align-content: center;
  justify-content: end;
}

.nav-link1:hover {
  cursor: pointer;
  color: white;
  font-size: large;
}
.nav-link2:hover {
  cursor: pointer;
  color: white;
  font-size: large;
}

.nav-link2 {
  padding: 20px;
}

.login {
  display: grid;
  color: white;
  align-content: center;
  justify-content: center;
  transition: color 2s ease-out 100ms;
  transition: transform 250ms;
}

.login:hover {
  color: #d62727;
  cursor: pointer;
  font-size: x-large;
  transform: translateY(-10px);
}

hr {
  width: 66%;
  margin-left: 0;
}

h1 {
  color: #d62727;
}

.container {
  display: grid;
  grid-template-columns: [col1] 33% [col2] 33% [col3] 33%;
  grid-template-rows: [row1] 33% [row2] 33% [row3] 33%;
  grid-auto-flow: row;
  grid-gap: 5rem 3rem;
  margin-top: 7rem;
  align-content: space-around;
  padding-left: 10rem;
  place-content: center;
  width: 100vw;
}

.card {
  display: grid;
  border: 1px solid lightslategray;
  border-radius: 10px;
  margin-top: 2rem;
  margin: 5px;
  width: 17rem;
  height: 20rem;
  justify-items: center;
}

.card:hover {
  box-shadow: 5px 5px 5px #d62727;
}

/* .card-title {
  display: grid;
} */
